<% provide :title, t("all_user") %>
<h1><%= t "all_user" %></h1>
<%= will_paginate @user %>
<ul class="users">
  <% @user.each do |user| %>
    <%= render @user %>
  <% end %>
</ul>
<%= will_paginate @user %>
